@page "/"

@using CbVitrineNetRCL.Tabs.CV
@using CbVitrineNetRCL.Tabs.Detail
@using CbVitrineNetRCL.Tabs.Dev
@using CbVitrineNetRCL.Tabs.Testing

<PageTitle>Cyril Brun</PageTitle>


<RadzenCard class="rz-background-color-warning rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
    <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Vitrine en cours de développement</strong></RadzenText>
</RadzenCard>

<RadzenImage Path="images/Photo.jpg" class="rz-mb-2" Style="width: 10rem; height:10rem; border-radius:50%;" />

<div class="rz-my-12">
    <h2>Coordonnées de contact sur le CV</h2>
    <h2>Références sur demande</h2>
</div>

<RadzenTabs TabPosition="TabPosition.Left" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="CV">
            <CVComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Développeur">
            <DevComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Testeur">
            <TestingComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Détails solution .Net actuelle">
            <DetailComponent />
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>