@page "/"

<PageTitle>Cyril Brun</PageTitle>

<RadzenImage Path="images/Photo.jpg" Style="width: 15rem; height:15rem;" />


<h2>Coordonnées de contact sur le CV</h2>
<h2>Références sur demande</h2>


<RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="CV">
            <RadzenCard title="Expériences">
                <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
                    <RadzenText TextStyle="TextStyle.Body1">Infotel Conseil</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1">BPCE-IT</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1">Autodidacte</RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Développeur">
            <p>Dev</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Testeur">
            <p>Test</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="DevOps">
            <p>DevOps</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Agile">
            <p>Agile</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Détails solution actuelle .Net">
            <p>Bla bla</p>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>