@page "/"

@using CbVitrineNetRCL.Tabs.Agile
@using CbVitrineNetRCL.Tabs.CV
@using CbVitrineNetRCL.Tabs.Detail
@using CbVitrineNetRCL.Tabs.Dev
@using CbVitrineNetRCL.Tabs.DevOps
@using CbVitrineNetRCL.Tabs.Testing


<PageTitle>Cyril Brun</PageTitle>

<RadzenImage Path="images/Photo.jpg" Style="width: 10rem; height:10rem;" />

<h2>Coordonnées de contact sur le CV</h2>
<h2>Références sur demande</h2>

<RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="CV">
            <CVComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Développeur">
            <DevComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Testeur">
            <TestingComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="DevOps">
            <DevOpsComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Agile">
            <AgileComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Détails solution .Net actuelle">
            <DetailComponent />
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>