@page "/"

@using CbVitrineNetRCL.Tabs.Agile
@using CbVitrineNetRCL.Tabs.CV
@using CbVitrineNetRCL.Tabs.Detail
@using CbVitrineNetRCL.Tabs.Dev
@using CbVitrineNetRCL.Tabs.DevOps
@using CbVitrineNetRCL.Tabs.Testing

<PageTitle>Cyril Brun</PageTitle>

<RadzenImage Path="images/Photo.jpg" class="rz-mb-2" Style="width: 10rem; height:10rem; border-radius:50%;" />

<div class="rz-my-12">
    <h2>Coordonnées de contact sur le CV</h2>
    <h2>Références sur demande</h2>
</div>

<RadzenTabs TabPosition="TabPosition.Left" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="CV">
            <CVComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Développeur">
            <DevComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Testeur">
            <TestingComponent />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Détails solution .Net actuelle">
            <DetailComponent />
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>