@page "/"

<h1 class="text-danger">Toto</h1>

<ul>
    @if (testList is not null)
    {
        @foreach (var item in testList)
        {
            <li>
                @item
            </li>
        }
    }
</ul>