@page "/"

<h1 class="text-danger">Toto</h1>

@if (testList is not null)
{
    <ul>
        @foreach (var item in testList)
        {
            <li>
                @item
            </li>
        }
    </ul>
}
else
{
    <p>erreur !</p>
}

<RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="CV">
            <p>CV</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Développeur">
            <p>Dev</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Testeur">
            <p>Test</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="DevOps">
            <p>DevOps</p>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Agile">
            <p>Agile</p>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>