<RadzenCard title="Certifications">
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
        @if (certifications is not null)
        {
            <p>OK</p>
        }
    </RadzenStack>
</RadzenCard>

