@using CbVitrineNetRCL.Tabs.CV

<RadzenCardGroup>
    <RadzenStack Orientation="Orientation.Vertical">
        <p>Expériences</p>
        <ExperiencesComponent />

        <p>Formations</p>
        <FormationsComponent />

        <p>Certifications</p>
        <CertificationsComponents />
    </RadzenStack>
</RadzenCardGroup>

