<h1 class="mb-3">Les informations de cette page sont stockées sur SQL Server</h1>

<RadzenStack Orientation="Orientation.Horizontal">
    <NetFrontComponent />
    <NetBackComponent />
</RadzenStack>

<RadzenStack Orientation="Orientation.Horizontal">
    <NodeFrontComponent />
    <NodeBackComponent />
</RadzenStack>

<RadzenStack Orientation="Orientation.Horizontal">
    <PythonBackComponent />
    <PythonScriptingComponent />
</RadzenStack>

<RadzenStack Orientation="Orientation.Horizontal">
    <CppScriptingComponent />
</RadzenStack>

<RadzenStack Orientation="Orientation.Horizontal">
    <OtherDatabasesComponent />
</RadzenStack>